a {
  text-decoration: none;
}
body{
  background-color: #f0eeee;
}
.desktop-nav {
  display: none;
}
header {
  display: none;
}
.bar {
  font-size: 2rem;
  padding: 0 30px;
  color: #272a31;
}
.hello-text {
  font-family: lato;
  color: #ec5242;
  font-size: 1.5rem;

}
.ccn-text {
  text-decoration: none;
}
.code-text {
  font-family: cocogoose;
  background: -webkit-linear-gradient(#ec5242, #272a31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-wrapper {
  margin: 20px auto;
  width: 90%;
}
.article-text {
  color: #272a31;
  font-family: lato;
  font-size: .7rem;
  line-height: 2;
  padding: 10px;
  border: 3px solid white;
  background-color: #d3d3d3;
}
.location-text {
  font-family: cocogoose;
  color: #272a31;
  font-size: 1.5rem;
}
.bottom-text {
  color: #272a31;
  font-family: lato;
  font-size: .8rem;
}

.program-title {
  padding: 15px 0 0 0;
}
.program {
  background-image: url('../images/blackimg.png');
  height: auto;
}
.program-flex {
  background-color: #272727;
  opacity: .7;
  width: 95%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.mid-text {
  color: #ec5242;
  font-size: .8rem;
  font-family: cocogoose;
}
.text-flex {
  font-size: .8rem;
  color: #d3d3d3;
  font-family: lato;
  font-weight: bold;
  width: 60%;
}
.nigeria-btn {
  text-align: center;
}
.ccn-button {
  background-color: #ec5242;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ec5242;
  text-align: center;
  margin: 20px 0;
  color: #d3d3d3;
  font-family: lato;
}

.feature-speaker {
  font-family: lato;
}

.circle {
  width: 90px;
  height: 90px;
  position: relative;
}

.girl {
  width: 100px;
  height: 100px;
  left: 30px;
  position: absolute;
  margin-top: 30px;
  margin-left: 5px;
}

.grp-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.grp-text {
  width: 60%;
}

.grp-wrapper:nth-of-type(3),
.grp-wrapper:nth-of-type(4),
.grp-wrapper:nth-of-type(5),
.grp-wrapper:nth-of-type(6)  {
  display: none;
}

.title {
  margin-top: 20px;
}
.sub-text {
  font-style: italic;
  color: #ec5242;
  font-size: .7rem;
  margin-bottom: 5px;
  padding-right: 5px;
}
.last-text {
  font-size: .7rem;
}
.box {
  text-align: center;
}
.more-btn {
  padding: 10px 140px;

}

.img-icon {
  height: 50px;
  width: 50px;
  fill: #fff;
}