@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "cocogoose";
  src: url(../fonts/cocogoose/Cocogoose_trial.otf);
}

a {
  text-decoration: none;
}

body {
  background-color: #d3d3d3;
  /* stylelint-disable */
  font-family: "Lato Regular";
  /* stylelint-enable */
}

.bar {
  font-size: 2rem;
  padding: 0 30px;
  color: #272a31;
}

.hello-text {
  color: #ec5242;
  font-size: 1.5rem;
}

.ccn-text {
  text-decoration: none;
}

.code-text {
  background: -webkit-linear-gradient(#ec5242, #272a31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* stylelint-disable */
  font-family: "cocogoose";
  /* stylelint-enable */
}

.text-wrapper {
  margin: 20px auto;
  width: 90%;
}

.article-text {
  color: #272a31;
  font-size: 0.7rem;
  line-height: 2;
  padding: 10px;
  border: 3px solid white;
  background-color: #d3d3d3;
}

.location-text {
  color: #272a31;
  font-size: 1.5rem;
}

.bottom-text {
  color: #272a31;
  font-size: 0.8rem;
}

.program-title {
  padding: 15px 0 0 0;
}

.program {
  background-image: url('../images/blackimg.png');
  height: auto;
}

.program-flex {
  background-color: #272727;
  opacity: 0.7;
  width: 95%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mid-text {
  color: #ec5242;
  font-size: 0.8rem;
}

.text-flex {
  font-size: 0.8rem;
  color: #d3d3d3;
  font-weight: bold;
  width: 60%;
}

.nigeria-btn {
  text-align: center;
}

.ccn-button {
  background-color: #ec5242;
  padding: 20px;
  border: 1px solid #ec5242;
  text-align: center;
  margin: 20px 0;
  color: #d3d3d3;
}

.circle {
  width: 90px;
  height: 90px;
}

.girl {
  width: 100px;
  height: 120px;
  left: 30px;
  position: absolute;
  margin-top: 20px;
  margin-left: 5px;
}
.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}
.grp-wrapper {
  display: flex;
  margin-top: 10px;
  margin: 0 auto;
  width: 400px;
  position: relative;
}
.grp-img {
  width: 45%;
}

.grp-text {
  width: 45%;
}
header,
.desktop-nav,
.bottom-display,
.last-about,
.grp-wrapper:nth-of-type(3),
.grp-wrapper:nth-of-type(4),
.grp-wrapper:nth-of-type(5),
.grp-wrapper:nth-of-type(6) {
  display: none;
}

.underline-small {
  display: block;
  position: relative;
}

.underline-small::after {
  content: '';
  height: 2px;
  width: 10%;
  background-color: #ec5242;
  position: absolute;
  left: 45%;
  bottom: -5px;
}
.title {
  margin-top: 20px;
}

.sub-text {
  font-style: italic;
  color: #ec5242;
  font-size: 0.7rem;
  margin-bottom: 5px;
  padding-right: 5px;
}

.last-text {
  font-size: 0.7rem;
}

.box {
  text-align: center;
}

.more-btn {
  padding: 10px 140px;
}

.img-icon {
  height: 50px;
  width: 50px;
  background-color: #d3d3d3;
  border-radius: 50px;
  padding: 3px;
}

footer {
  padding-top: 20px;
}

.footer-main {
  background-color: #272727;
  display: block;
  height: 200px;
  width: 100%;
}

.footer-header {
  padding-top: 20px;
}

.footer-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 85%;
}

.flex-f {
  padding: 10px;
}

.mozilla {
  font-weight: bolder;
}

.google {
  font-weight: lighter;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.naver {
  font-weight: bolder;
}

.airnb {
  font-size: 20px;
  padding: 0 5px;
}

.last-footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer-text {
  width: 200px;
  font-size: 0.7rem;
  padding-left: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ccn-logo1 {
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.footer-ccn {
  width: 60px;
  height: 60px;
}


.last-fabout {
  font-size: 0.6rem;
  margin-bottom: 10px;
  text-align: left;
}



@media (min-width: 768px) {
  .ccn {
    width: 55px;
    height: 45px;
    border-radius: 80px;
    padding-right: 5px;
  }

  .main-header {
    padding-right: 150px;
    height: 100%;
    border-bottom: 1px solid #3e3e3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-content: center;
  }

  .header-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-top: 14px;
  }

  .ccn-logo {
    display: inline-flex;
    align-items: center;
    padding-left: 50px;
  }

  .header-links {
    text-decoration: none;
    color: #3e3e3e;
    vertical-align: middle;
    padding: 0 10px;
  }

  .desktop-nav {
    display: flex;
    background-color: #3e3e3e;
    justify-content: flex-end;
    padding-right: 150px;
  }

  .desktop-icons {
    color: white;
    padding: 0 10px;
    text-decoration: none;
  }
  .box,
  .bar {
    display: none;
  }

  .code-text {
    margin: 0 auto;
    font-size: 3rem;
  }

  .article-text {
    width: 40%;
  }

  .text-wrapper {
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }

  .program-flex {
    width: 30%;
    display: inline;
    border: #d3d3d3;
    text-align: center;
    margin: 2px;
    padding: 10px 10px;
  }

  .text-flex {
    font-size: 0.8rem;
    line-height: 0.2;
    text-align: justify;
  }

  .display-prog {
    display: flex;
    width: 95%;
    margin: 0 auto;
  }
  .main-wrapper {
    width: 95%;
    margin: 0 auto;
    align-items: center;
  }

  .program-flex:nth-of-type(4) {
    border: 2px solid #d3d3d3;
  }

  
  .grp-wrapper {
    width: 350px;
    position: relative;
    margin: 0;
  }

  .grp-wrapper:nth-of-type(3),
  .grp-wrapper:nth-of-type(4),
  .grp-wrapper:nth-of-type(5),
  .grp-wrapper:nth-of-type(6) {
    display: flex;
  }

 .grp-text {
  width: 50%;
 }
 .grp-img {
  width: 50%;
 }

 

  .ccn-button {
    background-color: unset;
    border: unset;
    text-decoration: underline;
  }

  footer {
    display: block;
  }

  .footer-main {
    background-color: #272727;
    display: block;
    height: 200px;
  }

  .footer-header {
    padding-top: 20px;
  }

  .footer-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .mozilla {
    font-weight: bolder;
  }

  .google {
    font-weight: lighter;
  }

  .naver {
    font-weight: bolder;
  }

  .airnb {
    font-size: 20px;
    padding: 0 5px;
  }

  .footer-bottom {
    background-color: white;
    height: 70px;
  }

  .last-footer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-text {
    width: 50%;
    font-size: 0.7rem;
    padding-left: 30px;
  }

  .ccn-logo1 {
    display: flex;
    align-items: center;
    padding: 50px 0;
  }

  .footer-ccn {
    width: 60px;
    height: 60px;
  }
}
